header {
  background-color: aqua;
  border: 3px solid blue;
}

h2 {
  background-color: darkred;
  color: blue;
  text-align: center;
}

img {
  border: 6px solid black;
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: red;
  background-color: orange;
  text-align: center;
}

body {
  max-width: 600px;
  margin: 0 auto;
  /* border: 3px solid blue; */
}
